.courselist
{
    font-size:large;
    width:800px;
    margin-left: 0px;
    margin-top: 7px;
    font-family: Georgia;
}

.coursebutton
{
    font-size:large;
    margin-left: 16px;
    Width:140px;
    font-family: Georgia;
    position:relative;
    top:-27px;
    left:810px;
}
