/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 860px) {


	div.infotext div#custom-menu{
		display: none;
		
	}
	
	div.entry{
		
		width: 600px;
		float:  left;
		background: #ffffff;
		padding: 0px 10px 5px 10px;
		font-family: arial;
		font-size: 14px;
		
	}
	
	div.entry div#breadcrumb p{
		
		font-size: 11px;	
		
	}
	
	div.entry div#breadcrumb p a{
		color: #CA5351;
	}
	
	div.entry h1{
		
		font-size: 24px;
		font-weight: bold;
		color: #CA5351;
		
	}
	
	div#right{
		
		float: right;
		width: 380px;
		font-size: 14px;
		
	}
	
	div#right div{
		background: #ffffff;
		padding: 0px;
		margin-bottom: 20px;
		font-family: arial;
	}
	
	div#right div h2{
		font-size:18px;
		display: block;
		background: #CA5351;
		color: #ffffff;
		padding: 0px 10px 0px 10px;	}
	
	div#right div p{
		padding: 0px 10px 0px 15px;
	}
	
	div#right div ul li{
		color: #CA5351;
	}
	
	div#right div#custom-menu{
		display: block;
		padding: 0px;
	}
	
	div#right div#custom-menu h2{
		display: block;
		background: #CA5351;
		color: #ffffff;
		padding: 0px 10px 0px 10px;
	}
	
	div#right div#custom-menu ul{
		padding: 0px;
		margin: 0px;
	}
	
	div#right div#custom-menu ul li{
		
		display: block;
		border-bottom: 1px solid #000000;
		padding:  0px 0px 0px 15px;
		
	}
	
	div#footer{
		clear: both;
	}
	

	form span{
		
		display: block;
		
	}
	
}