/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 360px) {

	ul{
		margin-bottom: 0px;
	}
	
	p{
		margin-bottom: 0px;
	}

	div.infotext div#custom-menu{
		padding: 0px;
		margin: 0px;
	}
	
	div.infotext div#custom-menu h2{
		display: none;
	}
	
	div.infotext div#custom-menu ul{
		width: 100%;
		padding: 0px;
		margin: -10px 0px -10px 0px;
	}
	
	div.infotext div#custom-menu ul li{
		
		display: block;
		border-bottom: 1px solid #000000;
		padding:  0px 0px 0px 15px;
		font-size: 10px;
		background: #ffffff;
		font-family: arial;
		
	}
	
	
	div.entry{
		
		width: 100%;
		background: #ffffff;
		padding: 0px -10px 5px 0px;
		font-family: arial;
		margin:  0px -10px 0px 0px;
		font-size: 12px;
		
	}
	
	div.entry div#breadcrumb p{
		
		font-size: 11px;	
		padding-left: 10px;
		
	}
	
	div.entry div#breadcrumb p a{
		color: #CA5351;
	}
	
	div.entry h1{
		
		font-size: 20px;
		font-weight: bold;
		color: #CA5351;
		padding-left: 10px;		
	}
	
	div.entry h2{
		padding-left: 10px;	
	}
	
	div.entry h3{
		padding-left: 10px;	
	}
	
	div.entry p{
		padding-left: 10px;	
	}
	
	div#right{
		
		width: 100%;
		font-size: 12px
		
	}
	
	div#right div{
		background: #ffffff;
		padding: 0px;
		margin-bottom: 0px;
		font-family: arial;
	}
	
	div#right div h2{
		font-size:16px;
		display: block;
		background: #CA5351;
		color: #ffffff;
		padding: 0px 10px 0px 10px;	}
	
	div#right div p{
		padding: 0px 10px 0px 15px;
	}
	
	div#right div ul li{
		color: #CA5351;
	}
	
	div#right div#custom-menu{
		display: none;
	}
		
	div#footer{
		font-family: arial;
		clear: both;
	}
	

	
	
}