.urgent        { color:#CC0033; font-weight:bold; font-size:larger; background-color:#FFCACA;}
.important     {  color:#990000; font-weight:bold; }
.optional      { color:#666666; font-style:italic; }
.title         { font-size:large; color:#10A2FF; text-decoration:underline; font-family: Georgia, Serif; }
.quote         { font-style:italic; background-color:#FFEEDD; color:#663300; padding:5px; }

           
          